html {
    font-size: 22px
}

body {
    background-color: #333;
    color: whitesmoke;
}
a {
    color: rgb(22, 74, 119);
}

a:visited {
    color: white;
}

a:hover, a:active {
    color: yellowgreen;
}

body{
    margin: 0;
}

h1 {
    font-size: 60px;
  }
  

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
transform: translateZ(-10px) scale(2);
}
.forground{
    transform: translateZ(-5px) scale(1.5);
}

.background,
.forground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

title{
    font-size: 7rem;
     color: white;
 text-shadow: 0 0 5px black;
}

.masthead{
    min-height: 60vh;
    position: relative;
    
}
p {
    font-size: larger;
    }

